.layout {
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
}

.logoText {
  color: var(--ant-color-white);
  padding: 0 1em;
}

.menu {
  flex: 1;
  min-width: 0;
}

.contentContainer {
  min-height: 280px;
  padding: 24px;
}
